html, body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.rest-of-the-page{
    display:flex;
    flex-direction: column;
    row-gap:0;
    font-family: "Source Sans 3", sans-serif;
}

.countdown{
    position:relative;
    background-color: #FBFCFA;
    overflow:hidden;
}

.marigolds2{
    width:clamp(30px,8vw,110px);
    position:absolute;
    left:0px;
    top:-5px;
    display:block;
}

.deepams{
    width:clamp(42px,12vw,132px);
    position:absolute;
    right:-1px;
    top:-5px;
    display:block;
}

.countdown-main-content{
    position:relative;
    display:flex;
    flex-direction: column;
    row-gap:24px;
    padding-top:clamp(72px,20vw,167px);
    padding-left: clamp(42px,10vw,212px);
    padding-right: clamp(42px,10vw,212px);
    padding-bottom:clamp(32px,9vw,167px);
    align-items: center;
}

.wedding-info{
    display:flex;
    flex-direction: column;
    row-gap:clamp(16px,4vw,32px);
    align-items: center;
    color: #414651;
}

.look-forward{
    font-size:clamp(12px,3vw,28px);
    font-style: italic;
    margin:0;
}

.wedding-date{
    font-size:clamp(20px,5vw,48px);
    font-family:"Lora", serif;
    font-weight: 500;
    margin:0;
    text-align:center;
}

.wedding-time{
    font-size:clamp(14px,4vw,34px);
    font-family:"Lora", serif;
    font-weight: 500;
    margin:0;
}

.wedding-location{
    font-size:clamp(12px,3vw,28px);
    font-family:"Lora", serif;
    font-weight: 500;
    margin:0;
    text-align:center;
}

.location-button{
    display:inline-flex;
    align-items:center;

    padding: clamp(8px,2vw,28px) clamp(12px,3vw,16px);
    background-color: white;
    border-radius: 8px;
    border: solid 1px #E9EAEB;
    box-shadow: 0 4px 8px -2px #0a0d1210,0 2px 4px -2px #0a0d1206 ;

    font-family: "Source Sans 3", sans-serif;
    color: #414651;
    font-size:clamp(12px,3vw,22px);
    font-weight:600;

    transition: background-color 0.3s ease; 
    cursor:pointer;
}

.arrow-up{
    width:16px;
}

.location-button:hover{
    background-color: #F5F5F5;
}

.location-button:active{
    background-color: #FECDD6;
}

.event-map{
    width:100%;
    display:flex;
    flex-direction: column;
    row-gap: clamp(32px,9vw,120px);
}

.event{
    width:clamp(160px,44vw,615px);
    height:clamp(110px,30vw,415px);
    position:relative;
}

.event-info{
    width: 70%;
    height: 70%;
    position:absolute;
    inset: 12% 14%;

    display:flex;
    flex-direction: row;
    column-gap:clamp(4px,1vw,20px);
    align-items: center;
}

.flower-frame{
    position:absolute;
    inset:0;
    width:100%;
}

.event-info-cont{
    display:flex;
    flex-direction: column;
    row-gap:clamp(4px,1vw,12px);
    align-items: flex-start;
}

.event-name{
    font-family:"Lora", serif;
    font-size:clamp(10px,3vw,32px);
    font-weight:600;
    color:#535862;
    margin:0;
}

.about-event{
    font-size:clamp(6px,1.6vw,24px);
    color:#717680;
    margin:0;
}

.event-image{
    width:clamp(44px,40%,202px);
    height:auto;
}

.event.kaasi, .event.oonjal, .event.jeelakarra, .event.nalangu{
    align-self:flex-start;
    margin-left:clamp(16px,5vw,105px);
}

.event.maalai, .event.mangalya, .event.kanyadhanam{
    align-self:flex-end;
    margin-right:clamp(16px,5vw,105px);
}

.arrow{
    width:clamp(60px,16vw,180px);
    position:absolute;
    display:block;
}

.event.kaasi .arrow, .event.oonjal .arrow, .event.jeelakarra .arrow{
    left: 80%;
    top: 90%;
}

.event.maalai .arrow, .event.kanyadhanam .arrow, .event.mangalya .arrow{
    right: 65%;
    top: 90%;
    transform: scaleX(-1);
}


.sh-jasmine-1{
    width:clamp(72px,20vw,360px);
    position:absolute;
    left:-5%;
    top:32%;
    display:block;
}

.sh-coconut{
    width:clamp(56px,15vw,270px);
    position:absolute;
    right:0%;
    top:45%;
    overflow:hidden;
    display:block;
}

.sh-marigold{
    width:clamp(64px,18vw,324px);
    position:absolute;
    left:-2%;
    top:55%;
    display:block;
}

.sh-bells{
    width:clamp(100px,28vw,200px);
    position:absolute;
    right:-7%;
    top:65%;
    overflow:hidden;
    transform:rotate(14deg);
    display:block;
}

.sh-jasmine-2{
    width:clamp(72px,20vw,360px);
    position:absolute;
    left:-5%;
    top:75%;
    display:block;
}

.bottom-pink{
    width:100%;
    position:absolute;
    left:0;
    bottom:-2px;
    display:block;
}

@media (min-width:320px) and (max-width:400px) {
    .event.kaasi .arrow, .event.oonjal .arrow, .event.jeelakarra .arrow{
        left:60%;
    }

    .event.maalai .arrow, .event.kanyadhanam .arrow, .event.mangalya .arrow{
        right: 60%;
    }
}

@media (min-width:800px) {
    .sh-jasmine-1{
        top: 28%;
    }

    .sh-coconut{
        top:42%;
    }

    .sh-marigold{
        top:52%;
    }
}

@media (min-width:1000px) {
    .sh-bells{
        right: -5%;
    }

    .sh-jasmine-1{
        top: 25%;
    }

    .sh-coconut{
        top:40%;
    }

    .sh-marigold{
        top:50%;
    }
}

@media (min-width:1300px) {
    .sh-bells{
        right:-4%;
    }
}

@media (min-width:1400px) {
    .sh-jasmine-1{
        top: 22%;
    }

    .sh-marigold{
        top:48%;
    }

    .sh-jasmine-2{
        top:72%;
    }
}

@media (min-width:1281px){
    .event.kaasi .arrow, .event.oonjal .arrow, .event.jeelakarra .arrow{
        left:60%;
    }

    .event.maalai .arrow, .event.kanyadhanam .arrow, .event.mangalya .arrow{
        right: 80%;
    }
}

@media (min-width:1550px) {
    .event.kaasi .arrow, .event.oonjal .arrow, .event.jeelakarra .arrow{
        left:70%;
    }

    .event.maalai .arrow, .event.kanyadhanam .arrow, .event.mangalya .arrow{
        right:90%;
    }
}

@media (min-width:1800px) {
    .event.kaasi .arrow, .event.oonjal .arrow, .event.jeelakarra .arrow{
        left:90%;
        top:95%;
    }

    .event.maalai .arrow, .event.kanyadhanam .arrow, .event.mangalya .arrow{
        right:100%;
    }
}