.rsvp-container{
    background-color: #DCC8C9;
    display:flex;
    padding:clamp(16px,4vw,48px);
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.rsvp-main-content{
    box-sizing: border-box;
    width:100%;

    border-radius:clamp(4px,1vw,8px);
    background-color: white;
    padding:clamp(12px,3vw,48px);

    display:flex;
    flex-direction: column;
    row-gap:clamp(32px,9vw,120px);
    align-items: center;
}

.rsvp-section1{
    box-sizing: border-box;

    display:flex;
    flex-direction: column;
    row-gap:clamp(24px,7vw,32px);
    align-items: center;
}

.swing-video-cont{
    width:clamp(160px,44vw,380px);
    background: linear-gradient(45deg, #bf953f, #fcf6ba, #b38728, #fbf5b7, #aa771c);
    display:flex;
    justify-content: center;
    align-items: center;
    padding: clamp(4px,1vw,8px) 0;
    border-radius:2px;
}

.swing-video{
    width:95%;
}

.their-short-lines{
    display:flex;
    flex-direction: row;
    column-gap:clamp(20px,5vw,120px);
}

.short-line-cont{
    position:relative;
    width:clamp(110px,30vw,260px);
}

.shortline-flower{
    width:100%;
}

.shortline-content{
    position:absolute;
    top:28%;
    padding: 0 clamp(16px,5vw,32px);
}

.shortline{
    font-weight: 600;
    font-style: italic;
    color:#414651;
    font-size:clamp(8px,2vw,16px);
    text-align:center;
}

.rsvp-section2{
    width:100%;
    display:flex;
    flex-direction: column;
    row-gap:clamp(20px,5vw,32px);
    align-items: flex-start;
}

.rsvp-header{
    display:flex;
    flex-direction: column;
    row-gap:8px;
    align-items: flex-start;
}

.rsvp-header-line1{
    font-family:"Lora", serif;
    font-weight:600;
    color:#252B37;
    font-size:clamp(14px,4vw,32px);
    margin:0;
}

.rsvp-header-line2{
    color:#252B37;
    font-size:clamp(12px,3vw,14px);
    margin:0;
}

.rsvp-form{
    width:100%;
    display:flex;
    flex-direction: column;
    row-gap:clamp(24px,7vw,64px);
}

.row1{
    display:grid;
    grid-template: 1fr;
    gap:24px;
}

.field-container{
    width:100%;
    display:flex;
    flex-direction: column;
    row-gap:8px;
}

#number-of-guests.field-container, #phone-number.field-container{
    max-width:260px;
}

.field-header{
    margin:0;
    color:#252B37;
    font-style: italic;
    font-size:clamp(12px,3vw,16px);
}

.field{
    width:100%;
    box-sizing:border-box;
    height:clamp(32px,9vw,40px);

    font-family: "Source Sans 3", sans-serif;
    font-size:clamp(12px,3vw,16px);  
    background-color: #F8F9FC;
    border: 1px solid #D5D7DA;
    border-radius:6px;
    padding: 8px 12px; 
}

#user-message.field{
    height:clamp(68px,18vw,80px);
}

.field::placeholder{
    color:#535862;
}

.field:hover{
   border: 1px solid #A4A7AE; 
}

.field:focus-visible{
    outline:none;
   border: 1px solid #FECDD6;
   box-shadow: 
   0 4px 12px -3px #FECDD6,
   0 -2px 12px -3px #FECDD6; 
}

.field:focus::placeholder, .field:user-invalid::placeholder{
    color:#414651;
}

.field:disabled{
   border: 1px solid #E9EAEB; 
}

.field:disabled::placeholder{
    color:#D5D7DA;
}

.field:user-invalid{
   border: 1px solid #F97066; 
}

.radio-options-cont{
    display:flex;
    flex-direction: row;
    column-gap: clamp(32px,9vw,64px);
}

#attending.field-container .field-header{
    font-size: clamp(12px,3vw,18px);
}

.radio-label{
    cursor:pointer;
}

.attendance-radio{
    accent-color:#717680;
}

.radio-value{
    font-size:clamp(12px,3vw,18px);
    color:#717680;
}

#message.field{
    height: clamp(68px,19vw,80px);
}

.buttons-cont{
    display:flex;
    flex-direction: row;
    column-gap: 8px;
}

.cancel-button{
    background-color: white;
    border: 1px solid #E9EAEB;
    border-radius: 8px;
    color: #414651;
    font-size: clamp(12px,3vw,16px);
    font-weight: 600;
    padding: clamp(12px,3vw,16px) clamp(16px,4vw,20px);;
    box-shadow: 
    0 4px 8px -2px rgba(10,13,18,0.1),
    0 2px 4px -2px rgba(10,13,18,0.06); 
}

.cancel-button:hover{
    opacity:80%;
}

.cancel-button:focus{
    background-color:#F5F5F5;
}

.cancel-button:disabled{
    opacity:50%;
    color: #A4A7AE;
}

.submit-button{
    background-color: #913045;
    border: none;
    border-radius: 8px;
    color: #F5F5F5;
    font-size: clamp(12px,3vw,16px);
    font-weight: 600;
    padding: clamp(12px,3vw,16px) clamp(16px,4vw,20px);;
    box-shadow: 
    0 4px 8px -2px rgba(10,13,18,0.1),
    0 2px 4px -2px rgba(10,13,18,0.06); 
}

.submit-button:hover{
    opacity:90%;
}

.submit-button:focus{
    background-color:#5E1F2D;
}

.submit-button:disabled{
    opacity:50%;
}

.rsvp-confirm-popup{
    position:fixed;
    inset:0;
    margin:auto;
    background-color: #5E1F2D;

    border:none;
    border-radius:8px;
    box-shadow: 
    0 4px 8px -2px rgba(10,13,18,0.1),
    0 2px 4px -2px rgba(10,13,18,0.06); 
}

.rsvp-confirm-popup[open]{
    display:flex;
    flex-direction: column;
    padding:clamp(24px,6vw,40px) clamp(48px,13vw,64px);
    align-items: center;
}

.rsvp-content{
    display:flex;
    flex-direction: column;
    align-items: center;
    row-gap: clamp(12px,3vw,24px);
}

.confetti{
    width:24px;
    height:auto;
}

.rsvp-text-cont{
    display:flex;
    flex-direction: column;
    align-items: center;
    row-gap: clamp(4px,1vw,12px);
}

.confirm-line1{
    margin:0;
    font-family:"Lora", serif;
    font-family:500;
    font-style:italic;
    font-size: clamp(16px,4vw,20px);
    color:white;
}

.confirm-line2{
    margin:0;
    font-size: clamp(12px,3vw,14px);
    color:white;
}

.rsvp-confirm-popup::backdrop{
    background: rgba(0,0,0,0.45);
    backdrop-filter: blur(3px);
}

@media (min-width:600px) {
    .row1{
        grid-template-columns: 1fr 1fr;
    }

    #phone-number.field-container{
        grid-column: 1/-1; 
    }
}

@media (min-width:1200px) {
    .row1{
        grid-template-columns: 1fr 1fr 1fr;
    }

    #phone-number.field-container{
        max-width:none;
        grid-column: auto;
    }

    .rsvp-section1{
        flex-direction: row;
        column-gap:120px;
    }
}

@media (min-width:1200px) {
    .rsvp-section1{
        flex-direction:row;
        justify-content:center;
        align-items:center;
        column-gap:clamp(24px,5vw,64px);
    }

    .their-short-lines{
        display:contents;
    }

    .short-line-cont:first-child{
        order:1;
    }

    .swing-video-cont{
        order:2;
    }

    .short-line-cont:last-child{
        order:3;
    }
}
